.containerfirst {
    position: relative;
    width: 650px;
    height: 130px;
    background-color: rgb(35, 128, 58);
    left: 50px;
    border-radius: 5px;

}    
.cadCli {
    position: absolute;
    font-size: 22px;
    left: 50px;   
    top: 12px; 
}
.cadCli_box {
    position: absolute;
    left: 290px;
    top: 10px; 
    padding: 7px;  
    border-radius: 4px;     
}
.res_name {
    position: absolute;
    top: 70px;
    left: 50px;
    color: rgb(24, 5, 5);
    font-size: 20px;
    font-family: sans-serif;
}
.SBV {
    position: absolute;
    left: 50px;
}